{% extends "base.html" %}

{% block content %}
  <h1>{{username}} </h1>

  {% for server in servers %}
    <table class="table table-hover">
      <tr class="success"> 
        <td>Server Name</td><td>{{server.name}}</td>
      </tr>
      <tr>
        <td>Server ID</td><td>{{server.id}}</td>
      <tr>
      {% for iface in server.networks %}
        {% for ip in server.networks[iface] %}
          <tr>
            <td>{{iface}} IP</td><td>{{ip}}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% endfor %}
{% endblock %}

