{% extends "base.html" %}

{% block content %}
  <h1>{{username}} </h1>

  {% for server in servers %}
    <button type="submit" class="btn btn-default btn-block" data-toggle="collapse" data-target="#{{server.name}}"><h4>{{server.name}}</h4></button>
    <div id="{{server.name}}" class="collapse out">
    <table class="table table-hover"> 
      <tr class="success"> 
        <td>Server Name</td><td>{{server.name}}</td>
      </tr>
      <tr>
        <td>Server ID</td><td>{{server.id}}</td>
      <tr>
      {% for iface in server.networks %}
        {% for ip in server.networks[iface] %}
          <tr>
            <td>{{iface}} IP</td><td>{{ip}}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
    </div>
  {% endfor %}
  <script>
    $(document).ready(function() {
      document.getElementsByClassName("collapse")[0].className = "collapse in";
    });
  </script>
{% endblock %}

